<div class='w-full flex flex-col items-center'>
    <div class='w-full'>
      <p class='font-light'>Featured by Cheers</p>
    </div>

    <a href="#" class="w-full cursor-pointer hover:w-full-hover featured transition-all">
      <div
        class='cursor-pointer h-72 w-full rounded-2xl p-4 flex justify-between mt-1 shadow-lg hover:shadow-2xl hover:h-80 transition-all relative'
        style="
          background-image: url(bar-goto-nyc-bar-interior-Alex-lau.jpeg); background-size: contain;">
        <div class='flex flex-col justify-start z-10'>
          <h1 class='text-white font-bold text-6xl'>Bar Name</h1>

          <div class='flex items-center mt-1'>
            <p class='font-light text-white mr-2'>Reviews</p>
            <div class='flex'>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
                <span style="font-size: 1rem; color: yellow;">
                    <i class="fas fa-star"></i>
                </span>
            </div>
          </div>
        </div>

        <div class='w-1/4 h-full bg-white rounded-xl items-center justify-center z-10 sm:hidden lg:flex md:flex'>
          Map
        </div>
      </div>
    </a>
  </div>