<div class="fixed w-screen h-screen bg-black top-0 z-20 bg-opacity-60 px-10 py-10 items-center justify-center transition-all flex z-50 hidden" id="filterModal">
    <div class="md:w-1/2 sm:w-full h-full bg-white rounded-md border flex flex-col items-center justify-between p-5" id="filterModalDiv">
        <h1 class="text-xl font-semibold h-24">Filters</h1>
        <%- include('./filter.ejs') %>
    </div>
</div>